<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">>
<head>
<link rel="stylesheet" href="Basic.css">

<meta charset="UTF-8">
<title>Spring Boot Project</title>
<center>
<div class="button" id="button-2">
    <div id="slide"></div>
    <a th:href="@{'/new'}">ADD NEW CUSTOMER!</a>
  </div>
  <div class="button" id="button-2">
    <div id="slide"></div>
    <a th:href="@{'/index'}">UPDATE EXISTING</a>
  </div></br></br></br></br></br>
  <div class="button" id="button-2">
    <div id="slide"></div>
    <a th:href="@{'/index'}">DELETE CUSTOMER</a>
  </div>
  <div class="button" id="button-2">
    <div id="slide"></div>
    <a th:href="@{'/index'}">SEARCH CUSTOMER</a>
  </div>
  </center>
  </head>
<body>

</body>
</html>