<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Account</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div align="center" >
		<h1>Create New Account</h1>
		<br />
		<div class="col-sm-4">
			<form action="index.html" th:action="@{/save}" th:object="${account}"
				method="post">


				<div alight="center">
					<tr>
						<label class="form-label">Student Name</label>
						<td><input type="hidden" th:field="*{Aid}" /> <input
							type="text" th:field="*{accname}" class="form-control"
							placeholder="Student Name" /></td>
					</tr>
				</div>

				<div alight="center">

					<tr>
						<label class="form-label">Type</label>
						<td><input type="text" th:field="*{type}"
							class="form-control" placeholder="Type" /></td>
					</tr>
				</div>
				<div alight="left">
					<tr>
						<label class="form-label">Address</label>
						<td><input type="text" th:field="*{addr}"
							class="form-control" placeholder="Address" /></td>
					</tr>
				</div>
				<br>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-info">Save</button>
					</td>
				</tr>
				</table>
			</form>
		</div></div>
</body>
</html>